#seccion-orden {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.contenedor-producto {
    display: flex;
    flex-direction: column; /* Coloca los elementos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    text-align: center; /* Asegura que el texto también esté centrado */
}

.img-producto {
    width: 300px;
    height: 300px;

}
.opcion-producto {
    display: block; /* Hace que el botón esté en una línea separada */
    margin-top: 10px; /* Espacio entre la imagen y el botón */
}


h2 {
    text-align: center;
    margin-bottom: 10px;
}
h3 {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

label {
    display: block;
    margin-bottom: 5px;
}

#sumario-precio {
    margin-top: 20px;
}

#desgloce-precio {
    list-style-type: none;
    padding: 0;
}

#desgloce-precio li {
    display: flex;
    justify-content: space-between;
}
