#seccion-orden {
    padding: 20px;
    font-family: Arial, sans-serif;
}

body {
   

    background-color: rgb(198, 198, 169);
}
.fila-productos {
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-around;  
}

.contenedor-producto {
    
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    margin-top: 20px;
    background-color: chocolate;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease-in-out; 
    width: 48%;  
    margin-bottom: 20px; 

    

}
.contenedor-producto:hover {
    transform: scale(1.05); 
}

.img-producto {
    width: 300px;
    height: 300px;
}

.opcion-producto {
    display: block; 
    margin-top: 10px; 
    padding: 10px 20px;
    background-color: #4CAF50; 
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
    transition: background-color 0.3s;
}

.opcion-producto:hover {
    background-color: #45a049; 
}

.img-extra {
    width: 100px;
    height: 120px;
}

.lista-complementos, .lista-ingredientes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}    
#seleccion-ingredientes {
    background-image: url(imagenes/fondo.png);
    background-size: contain; /* Asegura que la imagen se ajuste completamente al tamaño de la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita si es más pequeña que la pantalla */
    background-position: center; /* Centra la imagen en la pantalla */
    background-attachment: fixed; /* Hace que la imagen permanezca fija al hacer scroll */
    background-color: white;
}

#seleccion-complemento {
    background-size: contain; /* Asegura que la imagen se ajuste completamente al tamaño de la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita si es más pequeña que la pantalla */
    background-position: center; /* Centra la imagen en la pantalla */
    background-attachment: fixed; /* Hace que la imagen permanezca fija al hacer scroll */
    
    background-image: url(imagenes/fondo.png);
    background-color: white;
}

#seleccion-bebidas {
    background-size: contain; /* Asegura que la imagen se ajuste completamente al tamaño de la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita si es más pequeña que la pantalla */
    background-position: center; /* Centra la imagen en la pantalla */
    background-attachment: fixed; /* Hace que la imagen permanezca fija al hacer scroll */
    
    background-image: url(imagenes/fondo.png);
    background-color: white;
}
#pedidos-en-proceso {
    background-size: contain; /* Asegura que la imagen se ajuste completamente al tamaño de la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita si es más pequeña que la pantalla */
    background-position: center; /* Centra la imagen en la pantalla */
    background-attachment: fixed; /* Hace que la imagen permanezca fija al hacer scroll */
    
    background-image: url(imagenes/fondo.png);
    background-color: white;

}

.complemento, .ingrediente {
    align-items: center; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: chocolate; 
    padding: 10px;
    margin-top: 10px;
    width: 10%;  
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.complemento:hover, .ingrediente:hover {
    transform: scale(1.05);
}

.complemento input, .ingrediente input {
    align-items: center; 
    text-align: center;
    margin-right: 5px;
}
#portada{
   
    background-size: cover; /* Asegura que la imagen cubra todo el div */
    background-position: center; /* Centra la imagen */
    color: white; /* Asegura que el texto sea visible sobre la imagen */
    text-align: center; /* Centra el texto */
    padding: 50px 0; /* Añade algo de espacio arriba y abajo */
    border-radius: 8px; /* Bordes redondeados opcionales */
    background-image: url(imagenes/portada.png);
}

h1 {
    
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

h2 {
    background-color: #e8c204; /* Fondo verde */
    color: white; /* Texto blanco */
    padding: 10px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 50px;
    margin-bottom: 10px;
}
h3 {
    background-color: #205d22; /* Fondo verde */
    color: white; /* Texto blanco */
    padding: 10px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    margin-right: 1400px;
    margin-top: 100px;
    margin-bottom: 10px;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

label {
    display: block;
    margin-bottom: 5px;
}

#sumario-precio {
    margin-top: 20px;
    background-size: contain; /* Asegura que la imagen se ajuste completamente al tamaño de la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita si es más pequeña que la pantalla */
    background-position: center; /* Centra la imagen en la pantalla */
    background-attachment: fixed; /* Hace que la imagen permanezca fija al hacer scroll */
    
    background-image: url(imagenes/fondo.png);
    background-color: white;
}

#desglose-precio {  
    list-style-type: none;
    padding: 0;
}

#desglose-precio li {  /* CORREGIDO */
    display: flex;
    justify-content: space-between;
}

#confirmar-orden {
    background-color: #9f0e0e; /* Fondo verde */
    color: white; /* Texto blanco */
    padding: 10px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    text-align: center;
    margin-left: 700px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: larger;

}


.complemento, .ingrediente {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
   
}


.complemento input, .ingrediente input {
    margin-right: 5px;
}
 